#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

/* Icon */
.themeIcon, .shuffleIcon, .closeIcon{
  color: var(--light-gray)
}
.themeIcon, .shuffleIcon{
  margin: 1px;
}

/* header */
#header{
  margin: 80px 18px 20px 18px;
  border-radius: 10px;
  position: sticky;
  /* z-index: var(--header-zindex); */
  background-color: var(--background);
}

.HeaderTitle{
  text-align: center;
  font-size: 60px;
}

.Buttons{
  display: flex;
  justify-content: space-between;
}


.SearchHeader {
  display: flex;
  justify-content: space-between;
}

.SearchHeader form{
  flex-basis: 100%;
}

.SearchInput {
  width: 100%;
  font-size: 20px;
  padding: 20px;
  border-style: none;
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 15px 5px #00000039;
}

.SearchHistory{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.SearchHistory .searcedKeyword{
  margin: 0 10px 10px 0;
}
.searcedKeywordButton, .deleteKeywordButton{
  color: var(--light-gray);
}
/* main */
.message{
  width: 100%;
  text-align: center;
  font-size: 28px;
}

.SearchResult {
  margin-top: 10px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 0 30px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.SearchResult .item {
  display: inline-block;
  margin: 80px 0 0 0;
  width: 100%;
  min-height: 200px;
  cursor: pointer;
  position: relative;
  border-radius: var(--border-radius);
}

.SearchResult .item:hover::before{
  content: attr(tooltip);
  position: absolute;
  border-radius: 3px;
  background-color: var(--color);
  color: var(--background);
  font-size: var(--font-medium);
  padding: 5px 10px;
  transform:translateY(20%);
}

/* modal */
.Modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.8);
}

.Modal .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  border: 1px solid var(--dark-gray);
  border-radius: 30px;
  width: 80%;
  height:fit-content;
  min-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

#loadingModal .loading{
  top: 50%;
  left: 50%;
  position: absolute;
}

.loader {
  margin-bottom: 20px;
  width: 28px;
  height: 28px;
  border: 5px solid var(--main-blue);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 500ms linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.Modal .content-wrapper .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Modal .content-wrapper .title,
.Modal .content-wrapper .description {
  padding: 5px;
  align-items: center;
}


.Modal .description{
  font-size: var(--font-medium);
  padding: 10px;
}

.Modal .description li{
  padding-bottom: 10px;
}

.Modal .description li:before{
  content: "📍 ";
}

.Modal .content-wrapper .title{
  padding: 20px;
  text-align: center;
}

.Modal .content-wrapper .image{
  padding: 0 10px;
  max-height: 400px;
  text-align: center;
}


@media screen and (max-width:992px){
  .SearchResult{
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media screen and (max-width:768px){
  .SearchResult{
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .Modal .content-wrapper{
    width: 100%;
  }
}
@media screen and (max-width:576px){
  .SearchResult{
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

