@font-face {
  font-family: "Goyang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Goyang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root{
  --pc-width: 992px;
  --tablet-width: 768px;
  --mobile-width: 576px;

  --main-blue: #2d59f0;
  --main-red: #ff443b;
  --pale-pink: #fdebef;
  --dark-gray: #21242e;

  --font-large: 24px;
  --font-medium: 16px;
  --font-small: 12px;

  --modal-zindex: 10;
}

html {
  box-sizing: border-box;
}

*{
  background-color: var(--background);
  color: var(--color);
}

body * {
  font-family: Goyang;
  max-width: var(--pc-width);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
button{
  cursor: pointer;
  border-style: none;
  background-color: inherit;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

/* header */
#header{
  padding: 18px;
}

.SearchHeader {
  display: flex;
  justify-content: space-between;
}

.SearchHeader form{
  flex-basis: 70%;
}

.searchHistory{
  display: flex;
}

.searchHistory .searcedKeyword{
  font-size: var(--font-large);
  margin-right: 10px;
  padding : 3px 10px;
  border-radius: 4px;
  background-color: gray;
}

/* main */
.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 0 30px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  min-height: 200px;
  cursor: pointer;
  position: relative;
}
.SearchResult .item:hover::before{
  content: attr(tooltip);
  position: absolute;
  border-radius: 3px;
  background-color: rgba(125, 125, 125, 0.691);
  color: var(--color);
  font-size: var(--font-large);
  padding: 5px 10px;
}

.SearchInput {
  width: 100%;
  font-size: 20px;
  padding: 10px 15px;
  border-style: none;
  border-bottom: 3px solid gray;
}

/* modal */
.Modal{
  z-index: var(--modal-zindex);
}

.Modal, .Loading{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.Modal .title {
  display: flex;
  justify-content: space-between;
}

.Modal .title,
.Modal .description {
  padding: 5px;
}

.Modal .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  border: 1px solid #eee;
  border-radius: 5px;
  width: 60%;
  max-height: 800px;
  overflow-y: auto;
}

.Modal .description{
  font-size: var(--font-large);
}

.Modal .content-wrapper img,
.Modal .content-wrapper p {
  width: 100%;
  text-align: center;
}
@media screen and (max-width:var(--pc-width,992px)){
  .SearchResult{
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media screen and (max-width:var(--tablet-width,768px)){
  .SearchResult{
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .Modal .content-wrapper{
    width: 100%;
  }
}
@media screen and (max-width:var(--mobile-width,576px)){
  .SearchResult{
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
/* 
@media (prefers-color-scheme: dark) {
  * {
    background-color: var(--dark-background);
    color: var(--dark-color);
  }
  .Modal .content-wrapper {
    background-color: var(--dark-background);
  }
} */

